:root {
  --map-rows: 10;
  --map-cols: 10;
  --max-width: 500px;
}

#app {
  width: min(100vmin, var(--max-width));
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.grid {
  display: grid;
  grid-template: repeat(var(--map-rows), 1fr) / repeat(var(--map-cols), 1fr);
  align-content: space-between;
  justify-content: space-between;
  font-size: calc((min(100vmin, var(--max-width)) - 4rem) / var(--map-cols));
  outline: none;
}
